$color__purple: #42145F;
$color__light-purple: #C6B9CF;
$color__accent-purple: #E3DCE7;
$color__green: #39870C;
$color__yellow: #F9E11E;
$color__blue: #007BC7;
$color__light-blue: #8FCAE7;
$color__accent-blue: #DDEFF8;
$color__bright-blue: #EEF7FB;

$query__small: 768px;
$query__medium: 992px;
$query__wide: 1100px;
$query__extra-wide : 1280px;

$container-width-small: 30em;
$container-width: 55em;
$content-width: 40em;
